* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.full-blue-container, .full-white-container, .full-gray-container {
    width: 100%;
}

.full-blue-container {
    background-color: #1F2937;
    color: white;
}

.full-gray-container {
    background-color: #E5E7EB;
    color: #1F2937;
}

.full-white-container {
    background-color: #FFF;
    color: #000;
}

.content-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 20px;
}

.header h2 {
    font-size: 24px;
    color: #F9FAF8;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}